@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-app {
    @apply mx-auto w-full max-w-[1120px] px-4 sm:px-6;
  }

  .btn-primary {
    @apply inline-flex h-11 items-center justify-center rounded-xl bg-blue-600 px-5 font-semibold text-white
    hover:bg-blue-700 active:translate-y-[1px] transition;
  }

  .btn-ghost {
    @apply inline-flex h-11 items-center justify-center rounded-xl border border-white/25 px-5 font-semibold text-white
    hover:bg-white/10 active:translate-y-[1px] transition;
  }

  .card {
    @apply rounded-2xl bg-white shadow-[0_12px_36px_rgba(0,0,0,0.10)] ring-1 ring-black/5;
  }
  div {
    cursor: default;
  }
  body {
    background-color: #f6f6f6;
  }
}
